    <footer class="bg-secondary p-5 text-center">
       <p class="text-white"><strong>Anderson Romero - {{ getAnio }}</strong> </p> 
    </footer>
      <script src="assets/jquery-3.2.1.slim.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>
</body>
</html>