{{> header  }}
{{> navbar  }}

    <div class="row">
        <div class="col-8">
            <h1>Linux</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga explicabo dignissimos libero accusamus deleniti pariatur voluptates quisquam assumenda quam provident corrupti, veniam nam, perferendis totam suscipit repudiandae adipisci maxime rem.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/29927wide.jpg" class="img-thumbnail" alt="">
        </div>
    </div>

{{> footer }}